body {
  background-image: url("./assets/bg.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#logo-png {
  width: 10% !important;
}

@media screen and (max-width: 1024px) {
  #logo-png {
    width: 15% !important;
  }
}

@media screen and (max-width: 480px) {
  #logo-png {
    width: 28% !important;
    margin-left: 0% !important;
  }
}
